@media screen and (max-width: 1280px){
 
  div.select-players {
    height: 95vh;
  }

  div.line {
    height: 495px;
  }

  div.line div.blocks::before {
    bottom: -18px;
  }

  div.line div.blocks::after {
    top: -18px;
  }
}